{% extends "NavigationPage.html" %}
{% block title %}Details | Mesurement{% endblock %}

{% block content %}

{%load crispy_forms_tags%}

<div class="row">
<div class="col-3">
    <a class="btn btn-warning" href="{% url 'CreateMesurement' %}">Create </a>  
    
</div>
<div class="col-6">
    
    <div class="mb-2 d-flex justify-content-between align-items-center">
        <div class="position-relative"><h1>Mesurement</h1> </div>
        <div class="px-2"> <span>
            <i class="fa fa-angle-down"></i></span> <i class="fa fa-ellipsis-h ms-3"></i> </div>
    </div>
    <div class="table-responsive">
        <table class="table table-responsive table-borderless">
            <thead>
                <tr class="bg-light">
                    <th scope="col" width="20%">Uint id</th>
                    <th scope="col" width="5%">Unit Name </th>
                    <th scope="col" width="5%">Ratio To Metric </th>
                    <th scope="col" width="20%">Mesurement Symbol</th>
                    
                    <th></th>
                    
                </tr>
            </thead>
            <tbody>
                
                    
                    {%for Mesurement in MesurementList%}
                    <tr class="fs-6">
                    <td scope="row" class="fs-5">{{Mesurement.id}}</td>    
                    <td scope="row" class="fs-5">{{Mesurement.UnitName}}</td>
                    <td scope="row" class="fs-5">{{Mesurement.RatioToMetric}}</td>
                    <td scope="row" class="fs-5">{{Mesurement.MesurementSymbol}}</td>
                    
                    <td scope="row">      
                    <a class="btn btn-danger" href="{% url 'DeleteMesurement' Mesurement.id%}">Delete</a>
                    <a class="btn btn-warning" href="{% url 'UpdateMesurement' Mesurement.id %}">Update</a>
                    </td> 
        </td>
                </tr>
                    {%endfor%}
             
               
            </tbody>
        </table>
    </div>
</div>
</div>
<div class="col-3">
    
</div>
</div>




{% endblock %}